# environment - dev|stg|prod
DOCKER_INFRASTRUCTURE_ENV=dev

# port where the nginx is listening
DOCKER_NGINX_PORT=80

# domain which will be nginx listen for
NGINX_DOMAIN=dev.symfony

# base auth user:password for nginx - by default needed only for stg environment
NGINX_BASE_AUTH_USER=user
NGINX_BASE_AUTH_PASSWORD=password

# adminer
DOCKER_ADMINER_PORT=8080

# mysql
DOCKER_DB_ROOT_PASSWORD=root
DOCKER_DB_PORT=3306

# elastic
DOCKER_ES_PORT=9200
