# environment - dev|stg|prod
export SYMFONY_APP_ENV=dev

# port where the nginx is listening
export SYMFONY_APP_PORT=80

# elasticsearch port
export SYMFONY_ES_PORT=9200

# mysql port (applicable for dev environment)
export SYMFONY_DB_PORT=3306

# domain which will be nginx listen for
export SYMFONY_APP_DOMAIN=dev.symfony
