# environment - dev|stg|prod
export APP_ENV=dev

# port where the nginx is listening
export APP_PORT=80

# elasticsearch port
export ES_PORT=9200

# mysql port (applicable for dev environment)
export DB_PORT=3306

# domain which will be nginx listen for
export APP_DOMAIN=dev.symfony
